### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
!/.idea/
./auth-center/target
./blog-base/target
./blog-center/target
./blog-gateway/target
./user-center/target



